<button 
  data-toggle-tabs-target="button" 
  data-action="click->toggle-tabs#toggle" 
  aria-controls="<%= aria_controls %>" 
  type="button" 
  data-state="<%= state %>" 
  class="inline-flex items-center justify-center whitespace-nowrap rounded-md px-3 py-1 text-sm text-slate-500 font-medium ring-offset-slate-100 transition-all focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 data-[state=active]:bg-white data-[state=active]:text-black data-[state=active]:shadow"
>
  <%= content %>
</button>