<div id="categories_list" aria-label="card" class="pt-8 rounded-3xl bg-white">
  <div aria-label="content" class="grid gap-2.5">
    <%= render_categories(categories, unfinished_period) %>
  </div>
</div>