<div id="modal-overlay" data-modal-target="overlay" class="hidden opacity-0 z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true" data-action="click->modal#hide"></div>
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
    <div id="modal-panel" data-modal-target="panel" class="relative hidden opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95 align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6">
      <div data-modal-target="content">
        <div id="modal_content">
          <!-- Содержимое модального окна будет загружено сюда -->
        </div>
      </div>
    </div>
  </div>
</div>
