<h3 id="time-for-today" class="pl-6 flex text-sm items-center text-neutral-500">
  <%= inline_svg('icons/clock.svg', class: "w-4 h-4 fill-current text-gray-400 mr-2 mt-0.5") %>
  <%= total_time_for_today %>&nbsp;<%= t('.spent_today') %>
</h3>